$main-font: Helvetica,
sans-serif;
$main-bg-color:rgb(65, 65, 65);
$quote-font: 'Montserrat',
sans-serif;
$main-color: rgba(0, 115, 168, 1);
body {
    font: $main-font;
}

.jumbotron-fluid {
    background-image: url('./../images/skyline.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    margin-bottom: 0;
    color: white;
    text-shadow: 2px 2px black;
}

.logo {
    height: 150px;
}

.footer {
    background-color: $main-bg-color;
    color: white;
    padding: 15px;
    margin-top: 15px;
}

footer {
    margin-bottom: 0;
}

.navbar-dark {
    background-color: rgba(0, 115, 168, 0);
}

.pattern {
    background-image: url('./../images/pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    .container {
        padding-top: 20px;
    }
}

.overlap {
    position: absolute;
    top: -100px;
    text-align: center;
    overflow: hidden;
    .image {
        border: 3px solid white;
        overflow: hidden;
    }
    img {
        height: 200px;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    img:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer;
    }
}

.slogan {
    position: relative;
    top: 175px;
    font-family: $quote-font;
    font-style: italic;
}

.d-block {
    height: 250px;
}


/* Style all font awesome icons */

.fa {
    padding: 7px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    background: $main-color;
    color: white;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}

.footer-link {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-link:hover {
    color: $main-color;
}

.second-footer {
    background-color: $main-color;
    margin-bottom: 0px;
    color: white;
}

.footer-address {
    font-size: 12px;
    margin-bottom: 0px;
}

.footer-quote {
    padding-top: 10px;
    font-family: $quote-font;
    font-size: 14px;
    font-style: italic;
    color: rgb(236, 236, 236);
    margin-bottom: 0px;
}

.footer-copyright {
    font-family: $quote-font;
    font-size: 10px;
}

.jumbotron>.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.featured {
    .title {
        text-align: center;
        font-family: $quote-font;
        margin: 15px;
    }
}

@media (max-width: 991px) {
    .pattern {
        background-image: url('./../images/pattern.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 210px;
        .container {
            padding-top: 20px;
        }
    }
    .overlap {
        position: absolute;
        top: -100px;
        text-align: center;
        overflow: hidden;
        .image {
            border: 3px solid white;
            overflow: hidden;
        }
        img {
            height: 150px;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        img:hover {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            cursor: pointer;
        }
    }
    .slogan {
        position: relative;
        top: 100px;
        font-family: $quote-font;
        font-style: italic;
    }
}

@media (max-width: 767px) {
    .pattern {
        background-image: url('./../images/pattern.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        .container {
            padding-top: 20px;
        }
    }
    .overlap {
        position: static;
        top: 0;
        text-align: center;
        overflow: hidden;
        .image {
            border: 3px solid white;
            overflow: hidden;
            width: 300px;
            ;
        }
        img {
            height: 100%;
            width: 100%;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            overflow: hidden;
            width: 300px;
        }
        img:hover {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            cursor: pointer;
        }
    }
    .slogan {
        position: static;
        top: 100px;
        font-family: $quote-font;
        font-style: italic;
    }
    .jumbotron-fluid {
        background-image: url('./../images/skyline.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        margin-bottom: 0;
        color: white;
        text-shadow: 2px 2px black;
    }
}